{% include 'store/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <style>
        body {
            background-color: gray;
        }

    </style>

    <body>
        <br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h3> Account deletion </h3>

            <hr>
            <p>  Are you sure that you want to delete your account? </p>
            <br>

            <form method="POST" autocomplete="off">
                {% csrf_token %}
            

                <button type="submit" class="btn btn-danger"> &nbsp; Delete </button>
                <br> <br>
                <a class="btn btn-dark" type="button"  href="{% url 'profile-management' %}"> Go back </a>


            </form>


        </div>


    </body>


{% endblock %}