{% include 'store/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <style>
        body {
            background-color: gray;
        }

    </style>

    <body>
        <br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h3> Update your account </h3>

            <br>
            <br>

            <form method="POST" autocomplete="off">
                {% csrf_token %}

                {{user_form.username|as_crispy_field}}
                <br>
                {{user_form.email|as_crispy_field}}
                <br>

                <button type="submit" class="btn btn-dark btn-lg w-100 btn-block p-2"> &nbsp; Update </button>

            </form>


        </div>
        <br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h3> Delete your account </h3>

            <hr>
            <p> Proceed if you wish to delete your account. </p>
            <br>
            <a class="btn btn-danger navbar-btn" type="button"  href="{% url 'delete-account' %}"> Delete your account </a>
        </div>


    </body>


{% endblock %}